BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 76%; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
HTML {
	BACKGROUND-COLOR: #fcfcfc
}
A {
	COLOR: #06c; TEXT-DECORATION: none
}
A:link {
	COLOR: #06c; TEXT-DECORATION: none
}
A:visited {
	COLOR: #06c; TEXT-DECORATION: none
}
A:active {
	COLOR: #06c; TEXT-DECORATION: none
}
A:hover {
	BACKGROUND-COLOR: #e7effc; COLOR: #000000; TEXT-DECORATION: underline
}
H1 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; FONT-SIZE: 1.4em; FONT-WEIGHT: normal
}
H2 {
	MARGIN: 1.2em 0em; FONT-SIZE: 1.12em; FONT-WEIGHT: normal
}
H3 {
	MARGIN: 1.2em 0em; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
H4 {
	MARGIN: 1.2em 0em; FONT-SIZE: 0.85em; FONT-WEIGHT: bold
}
H5 {
	MARGIN: 1.2em 0em; FONT-SIZE: 0.85em; FONT-WEIGHT: normal
}
H6 {
	MARGIN: 1.2em 0em; FONT-SIZE: 0.8em; FONT-WEIGHT: normal
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
OL {
	LINE-HEIGHT: 1.3em; MARGIN-TOP: 0.2em; MARGIN-BOTTOM: 0.1em; FONT-SIZE: 1em
}
UL {
	LINE-HEIGHT: 1.3em; MARGIN-TOP: 0.2em; MARGIN-BOTTOM: 0.1em; FONT-SIZE: 1em
}
LI {
	LINE-HEIGHT: 1.3em; MARGIN-TOP: 0.2em; MARGIN-BOTTOM: 0.1em; FONT-SIZE: 1em
}
P {
	LINE-HEIGHT: 1.3em; MARGIN: 1.2em 0em; FONT-SIZE: 1em
}
LI > P {
	MARGIN-TOP: 0.2em
}
PRE {
	FONT-FAMILY: monospace; FONT-SIZE: 1.2em
}
CODE {
	FONT-FAMILY: monospace; FONT-SIZE: 1.2em
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
BODY {
	SCROLLBAR-ARROW-COLOR: #7f9cb2; SCROLLBAR-FACE-COLOR: #cfdbef; SCROLLBAR-DARKSHADOW-COLOR: #7f9cb2; SCROLLBAR-HIGHLIGHT-COLOR: #f1f9fe; SCROLLBAR-SHADOW-COLOR: #cae4f8; SCROLLBAR-TRACK-COLOR: #f2f2f2; SCROLLBAR-3DLIGHT-COLOR: #abbbc7
}
.wlsc-header {
	BORDER-BOTTOM: #dddddd 1px solid; COLOR: #999
}
.wlsc-footer {
	CLEAR: both
}
.wlsc-layout TD {
	VERTICAL-ALIGN: top
}
.wlsc-image-rollover {
	DISPLAY: none
}
.wlsc-image-nonrollover {
	DISPLAY: inline
}
